/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Optima', sans-serif; }

h1 {
  font-size: 2.5em; }

button, input {
  font-family: 'Optima', sans-serif; }

button, input[type=submit] {
  text-transform: capitalize;
  font-weight: 700; }

body {
  background-color: #D1C4CB;
  color: #fff;
  overflow: hidden;
  text-align: center; }

#barba-wrapper, .barba-container {
  box-sizing: border-box;
  padding: 0; }

h1, h2, h3, form, input, button {
  margin: 0.5em; }

.mywrapper {
  background: url(../img/origami.svg) no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 2em;
  margin: 0;
  box-sizing: border-box; }

#lanback_l {
  position: absolute;
  top: 0;
  left: 25%;
  width: calc(100%/9);
  height: auto;
  z-index: -2; }

#lanback_r {
  position: absolute;
  top: -30%;
  left: 60%;
  width: calc(100%/8);
  height: auto;
  z-index: -2; }

#lanfront_l {
  position: absolute;
  top: 0;
  left: 10%;
  width: calc(100%/7);
  height: auto;
  z-index: -1; }

#lanfront_r {
  position: absolute;
  top: 0;
  right: 10%;
  width: calc(100%/6);
  height: auto;
  z-index: -1; }

.xlbtn {
  margin: auto;
  color: #fff;
  background-color: #FFCD6E;
  border: none;
  border-radius: 1.5em;
  font-size: 3em;
  padding: 0.2em 1em; }
  .xlbtn:hover {
    background-color: #B02C51; }
  .xlbtn:active {
    background-color: #F15959; }

#startbtn {
  display: inline-block; }

#pickcream, #pickred, #pickblack {
  width: 100%;
  height: auto;
  padding: 5%;
  box-sizing: border-box; }

.character {
  height: 350px;
  width: auto;
  margin: 2em; }

.btn, input[type=submit] {
  color: #fff;
  background-color: #FFCD6E;
  border: none;
  border-radius: 1em;
  font-size: 1.5em;
  padding: 0.2em 0.7em; }
  .btn:hover, input[type=submit]:hover {
    background-color: #B02C51; }
  .btn:active, input[type=submit]:active {
    background-color: #F15959; }

input[type=text] {
  border-radius: 1em;
  font-size: 1.5em;
  padding: 0.2em 0.7em;
  border: #B45772; }

#pickshiba {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box; }
  #pickshiba img {
    margin: 15%; }

#bamboo {
  display: inline; }

#game {
  display: grid;
  height: 100vh;
  transition: 0.7s;
  box-sizing: border-box; }
  #game .gamemain {
    margin: auto; }

#progress {
  width: 80vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  z-index: 0; }
  #progress img {
    padding: 0.5em;
    width: 2.5em;
    height: auto; }

#shiba {
  display: inline-block;
  width: 30%;
  height: auto;
  z-index: 1; }
  #shiba img {
    transition: 1s; }

#trivia {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: auto;
  margin: auto; }

.flower {
  opacity: 0.5;
  transition: 0.7s; }

#lost, #won, #resultbuttondiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100vh;
  transition: 0.7s;
  z-index: 1;
  visibility: hidden; }

#sadpeek {
  position: absolute;
  bottom: -60vh;
  width: 18em;
  height: auto; }

/*# sourceMappingURL=style.css.map */
