body {
    background-color: $neutral;
    color: $text;
    overflow: hidden;
    text-align: center;
}

#barba-wrapper, .barba-container {
    box-sizing: border-box;
    
    padding: 0;
    
}

h1, h2, h3, form, input, button {
    margin: 0.5em;
}

// Main container
.mywrapper {
    background: url(../img/origami.svg) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto; 
    margin-left: auto;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 2em;
    margin: 0;
    box-sizing: border-box;
}

// Index page

#lanback_l {
    position: absolute;
    top: 0;
    left: 25%;
    width: calc(100%/9);
    height: auto;
    z-index: -2;

}

#lanback_r {
    position: absolute;
    top: -30%;
    left: 60%;
    width: calc(100%/8);
    height: auto;
    z-index: -2;
}

#lanfront_l {
    position: absolute;
    top: 0;
    left: 10%;
    width: calc(100%/7);
    height: auto;
    z-index: -1;
}

#lanfront_r {
    position: absolute;
    top: 0;
    right: 10%;
    width: calc(100%/6);
    height: auto;
    z-index: -1;
}

.xlbtn {
    margin: auto;
    color: $text;
    background-color: $button;
    border: none;
    border-radius: 1.5em;
    font-size: 3em;
    padding: 0.2em 1em;
    &:hover {
     background-color: $btnhover;
    }
    &:active {
        background-color: $btnactive;
    }
}

#startbtn {
display: inline-block;
}

// Select player page

#pickcream, #pickred, #pickblack {
    width: 100%;
    height: auto;
    padding: 5%;
    box-sizing: border-box;

}
.character {
    height: 350px;
    width: auto;
    margin: 2em;
}

.btn, input[type=submit] {
    color: $text;
    background-color: $button;
    border: none;
    border-radius: 1em;
    font-size: 1.5em;
    padding: 0.2em 0.7em;
    &:hover {
     background-color: $btnhover;
    }
    &:active {
        background-color: $btnactive;
    }
}

input[type=text] {
    border-radius: 1em;
    font-size: 1.5em;
    padding: 0.2em 0.7em;
    border: $border;
}

#pickshiba {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    img {
       margin: 15%; 
    }
    box-sizing: border-box;
}

// Hello
#bamboo {
    display: inline;
}

// Trivia layout

#game { 
    display: grid;
    height: 100vh;
    transition: 0.7s;
    
    box-sizing: border-box;
    .gamemain {
        margin: auto;
    }
}

#progress {
    width: 80vh;
    margin: auto; 
    display: flex;
    flex-direction: row;
    img {
        padding: 0.5em;
        width: 2.5em;
        height: auto;
    
    }
    z-index: 0;
}

#shiba {
    display: inline-block;
    width:30%;
    height: auto;
    z-index: 1; 
    img {
        transition: 1s;
    }

}

#trivia {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
    margin: auto; 
    
}

.flower {
    opacity: 0.5;
    transition: 0.7s;
}

#lost, #won, #resultbuttondiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100vh;
    transition: 0.7s;
    z-index: 1;
    visibility: hidden;
}

#sadpeek {
    position: absolute;
    bottom: -60vh;
    width: 18em;
    height: auto;
}

